.navbar_elements a{
    text-decoration: none;
    font-size: 1.25rem;
    color:darkgrey;
}

.active, .navbar_elements :hover{
    font-weight:400;
    color: black;
    
}
.active{
    color: black !important;
    background: darkgrey !important;
    border-radius: 3px;
    padding-top: 6px;
    align-items: center;
  }

  .sideBar{
    border-right: #c0e5f4;
     }